In [1]:
import pandas as pd
import os

In [2]:
# import the test and training files
testData = pd.read_csv('./Data/test.csv')
trainData = pd.read_csv('./Data/train.csv')

testData.head()
# trainData.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
list(testData)

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [17]:
# drop columns from test/train not used in model
testDataTrim = testData.drop(["PassengerId", "Name", "Ticket", "Embarked", "Cabin"], axis=1)
#testDataTrim.head()

trainDataTrim = trainData.drop(["PassengerId", "Name", "Ticket", "Embarked", "Cabin"], axis=1)
#trainDataTrim.head()

# fill in NaN with 0 to represent no cabin/no embarcation in both train and test
#testDataTrim["Cabin"] = testDataTrim["Cabin"].fillna("N")
#trainDataTrim["Cabin"] = trainDataTrim["Cabin"].fillna("N")
#trainDataTrim["Embarked"] = trainDataTrim["Embarked"].fillna("N")
#testDataTrim["Embarked"] = testDataTrim["Embarked"].fillna("N")



#testDataTrim.head()
trainDataTrim.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [18]:
from sklearn.preprocessing import LabelEncoder


class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

# trainDataEncode = MultiColumnLabelEncoder(columns = ['Sex', 'Cabin', 'Embarked']).fit_transform(trainDataTrim)
#trainDataEncode = MultiColumnLabelEncoder(columns = ['Sex', 'Cabin']).fit_transform(trainDataTrim)
trainDataEncode = MultiColumnLabelEncoder(columns = ['Sex']).fit_transform(trainDataTrim)

In [8]:
# if using embarked
# trainDataEncode.Embarked.unique()

AttributeError: 'DataFrame' object has no attribute 'Embarked'

In [38]:
# Reformat the data
trainDataVals = trainDataEncode.values

X = trainDataVals[:,1:9]
y = trainDataVals[:,0]

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from keras.utils import to_categorical
from sklearn.externals import joblib

In [39]:
# split the data into train/test, X_train will be combined with additional columns below
X_train, X_test, y_train, y_test = train_test_split(X, encoded_y, random_state=42, stratify=encoded_y)

# convert the encoded labels to one-hot-encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

print(y_test_categorical.shape, y_train_categorical.shape)
print(X_train.shape)

(223, 2) (668, 2)
(668, 6)

In [40]:
# create the deep learning model
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=1000, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=1000, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=500, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=2, activation='softmax'))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 1000)              7000
_________________________________________________________________
dense_15 (Dense)             (None, 1000)              1001000
_________________________________________________________________
dense_16 (Dense)             (None, 500)               500500
_________________________________________________________________
dense_17 (Dense)             (None, 2)                 1002
=================================================================
Total params: 1,509,502
Trainable params: 1,509,502
Non-trainable params: 0
_________________________________________________________________

In [41]:
# compile the model and fit it
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(
    X_train,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: nan - acc: 0.6168
Epoch 2/100
 - 1s - loss: nan - acc: 0.6168
Epoch 3/100
 - 1s - loss: nan - acc: 0.6168
Epoch 4/100
 - 1s - loss: nan - acc: 0.6168
Epoch 5/100
 - 1s - loss: nan - acc: 0.6168
Epoch 6/100
 - 1s - loss: nan - acc: 0.6168
Epoch 7/100
 - 1s - loss: nan - acc: 0.6168
Epoch 8/100
 - 1s - loss: nan - acc: 0.6168
Epoch 9/100
 - 1s - loss: nan - acc: 0.6168
Epoch 10/100
 - 1s - loss: nan - acc: 0.6168
Epoch 11/100
 - 1s - loss: nan - acc: 0.6168
Epoch 12/100
 - 1s - loss: nan - acc: 0.6168
Epoch 13/100
 - 1s - loss: nan - acc: 0.6168
Epoch 14/100
 - 1s - loss: nan - acc: 0.6168
Epoch 15/100
 - 1s - loss: nan - acc: 0.6168
Epoch 16/100
 - 1s - loss: nan - acc: 0.6168
Epoch 17/100
 - 1s - loss: nan - acc: 0.6168
Epoch 18/100
 - 1s - loss: nan - acc: 0.6168
Epoch 19/100
 - 1s - loss: nan - acc: 0.6168
Epoch 20/100
 - 1s - loss: nan - acc: 0.6168
Epoch 21/100
 - 1s - loss: nan - acc: 0.6168
Epoch 22/100
 - 1s - loss: nan - acc: 0.6168
Epoch 23/100
 - 1s - loss: nan - acc: 0.6168
Epoch 24/100
 - 1s - loss: nan - acc: 0.6168
Epoch 25/100
 - 1s - loss: nan - acc: 0.6168
Epoch 26/100
 - 1s - loss: nan - acc: 0.6168
Epoch 27/100
 - 1s - loss: nan - acc: 0.6168
Epoch 28/100
 - 1s - loss: nan - acc: 0.6168
Epoch 29/100
 - 1s - loss: nan - acc: 0.6168
Epoch 30/100
 - 1s - loss: nan - acc: 0.6168
Epoch 31/100
 - 1s - loss: nan - acc: 0.6168
Epoch 32/100
 - 1s - loss: nan - acc: 0.6168
Epoch 33/100
 - 1s - loss: nan - acc: 0.6168
Epoch 34/100
 - 1s - loss: nan - acc: 0.6168
Epoch 35/100
 - 1s - loss: nan - acc: 0.6168
Epoch 36/100
 - 1s - loss: nan - acc: 0.6168
Epoch 37/100
 - 1s - loss: nan - acc: 0.6168
Epoch 38/100
 - 1s - loss: nan - acc: 0.6168
Epoch 39/100
 - 1s - loss: nan - acc: 0.6168
Epoch 40/100
 - 1s - loss: nan - acc: 0.6168
Epoch 41/100
 - 1s - loss: nan - acc: 0.6168
Epoch 42/100
 - 1s - loss: nan - acc: 0.6168
Epoch 43/100
 - 1s - loss: nan - acc: 0.6168
Epoch 44/100
 - 1s - loss: nan - acc: 0.6168
Epoch 45/100
 - 1s - loss: nan - acc: 0.6168
Epoch 46/100
 - 1s - loss: nan - acc: 0.6168
Epoch 47/100
 - 1s - loss: nan - acc: 0.6168
Epoch 48/100
 - 1s - loss: nan - acc: 0.6168
Epoch 49/100
 - 1s - loss: nan - acc: 0.6168
Epoch 50/100
 - 1s - loss: nan - acc: 0.6168
Epoch 51/100
 - 1s - loss: nan - acc: 0.6168
Epoch 52/100
 - 1s - loss: nan - acc: 0.6168
Epoch 53/100
 - 1s - loss: nan - acc: 0.6168
Epoch 54/100
 - 1s - loss: nan - acc: 0.6168
Epoch 55/100
 - 1s - loss: nan - acc: 0.6168
Epoch 56/100
 - 1s - loss: nan - acc: 0.6168
Epoch 57/100
 - 1s - loss: nan - acc: 0.6168
Epoch 58/100
 - 1s - loss: nan - acc: 0.6168
Epoch 59/100
 - 1s - loss: nan - acc: 0.6168
Epoch 60/100
 - 1s - loss: nan - acc: 0.6168
Epoch 61/100
 - 1s - loss: nan - acc: 0.6168
Epoch 62/100
 - 1s - loss: nan - acc: 0.6168
Epoch 63/100
 - 1s - loss: nan - acc: 0.6168
Epoch 64/100
 - 1s - loss: nan - acc: 0.6168
Epoch 65/100
 - 1s - loss: nan - acc: 0.6168
Epoch 66/100
 - 1s - loss: nan - acc: 0.6168
Epoch 67/100
 - 1s - loss: nan - acc: 0.6168
Epoch 68/100
 - 1s - loss: nan - acc: 0.6168
Epoch 69/100
 - 1s - loss: nan - acc: 0.6168
Epoch 70/100
 - 1s - loss: nan - acc: 0.6168
Epoch 71/100
 - 1s - loss: nan - acc: 0.6168
Epoch 72/100
 - 1s - loss: nan - acc: 0.6168
Epoch 73/100
 - 1s - loss: nan - acc: 0.6168
Epoch 74/100
 - 1s - loss: nan - acc: 0.6168
Epoch 75/100
 - 1s - loss: nan - acc: 0.6168
Epoch 76/100
 - 1s - loss: nan - acc: 0.6168
Epoch 77/100
 - 1s - loss: nan - acc: 0.6168
Epoch 78/100
 - 1s - loss: nan - acc: 0.6168
Epoch 79/100
 - 1s - loss: nan - acc: 0.6168
Epoch 80/100
 - 1s - loss: nan - acc: 0.6168
Epoch 81/100
 - 1s - loss: nan - acc: 0.6168
Epoch 82/100
 - 1s - loss: nan - acc: 0.6168
Epoch 83/100
 - 1s - loss: nan - acc: 0.6168
Epoch 84/100
 - 1s - loss: nan - acc: 0.6168
Epoch 85/100
 - 1s - loss: nan - acc: 0.6168
Epoch 86/100
 - 1s - loss: nan - acc: 0.6168
Epoch 87/100
 - 1s - loss: nan - acc: 0.6168
Epoch 88/100
 - 1s - loss: nan - acc: 0.6168
Epoch 89/100
 - 1s - loss: nan - acc: 0.6168
Epoch 90/100
 - 1s - loss: nan - acc: 0.6168
Epoch 91/100
 - 1s - loss: nan - acc: 0.6168
Epoch 92/100
 - 1s - loss: nan - acc: 0.6168
Epoch 93/100
 - 1s - loss: nan - acc: 0.6168
Epoch 94/100
 - 1s - loss: nan - acc: 0.6168
Epoch 95/100
 - 1s - loss: nan - acc: 0.6168
Epoch 96/100
 - 1s - loss: nan - acc: 0.6168
Epoch 97/100
 - 1s - loss: nan - acc: 0.6168
Epoch 98/100
 - 1s - loss: nan - acc: 0.6168
Epoch 99/100
 - 1s - loss: nan - acc: 0.6168
Epoch 100/100
 - 1s - loss: nan - acc: 0.6168

In [42]:
# evaluate the model
model_loss, model_accuracy = model.evaluate(X_test, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: nan, Accuracy: 0.6143497731118993

In [43]:
model.save("titanic_trained.h5")

In [44]:
from keras.models import load_model
model = load_model("titanic_trained.h5")

In [45]:
testDataEncode = MultiColumnLabelEncoder(columns = ['Sex']).fit_transform(testDataTrim)
encoded_test = model.predict_classes(testDataEncode)
predict_label = label_encoder.inverse_transform(encoded_test)
print(predict_label)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

C:\Users\nathan\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [59]:
PassengerID = testData["PassengerId"].values
output_dict = {}


for i in range(0, len(PassengerID)):
    output_dict[PassengerID[i]] = predict_label[i]
               

survival_output = pd.DataFrame.from_dict(output_dict, orient="index")
survival_output.head()
survival_output.to_csv('./Output/output.csv', header=False)